test/xsd/common_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="bool01Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="reportDateTimeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}[ T][0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="integerTextType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:simpleType name="nonNegativeIntegerTextType">
        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>

    <xs:simpleType name="int8TextType">
        <xs:restriction base="xs:byte"/>
    </xs:simpleType>

    <xs:simpleType name="int32TextType">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="nonNegativeInt32TextType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="decimalTextType">
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>

    <xs:simpleType name="optionalIntegerTextType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(-?[0-9]+)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="optionalDecimalTextType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(-?[0-9]+(\.[0-9]+)?)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="bitString13Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01]{13}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="settingResultType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="ERR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="settingRecordTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Setting"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mntBaseTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="在线监视"/>
            <xs:enumeration value="模拟预演"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mntStepTypeType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="checkReasonType">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="unCheckReasonType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="checkResultType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string1To64Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string1To128Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string1To256Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="checkedStatusAttrs">
        <xs:attribute name="IsChecked" type="bool01Type" use="required"/>
        <xs:attribute name="UnCheckReason" type="unCheckReasonType" use="required"/>
        <xs:attribute name="result" type="checkResultType" use="required"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="checkedSummaryAttrs">
        <xs:attribute name="IsChecked" type="bool01Type" use="required"/>
        <xs:attribute name="UnCheckReason" type="unCheckReasonType" use="required"/>
        <xs:attribute name="Result" type="checkResultType" use="required"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="devicePointAttrs">
        <xs:attribute name="DeviceId" type="string1To256Type" use="required"/>
        <xs:attribute name="PointId" type="string1To256Type" use="required"/>
        <xs:attribute name="PointName" type="string1To64Type" use="required"/>
    </xs:attributeGroup>
</xs:schema>
